html, body {
  height: 100%;
  margin: 0;
  position: relative;
  font-family: 'Wendy One';
}

.container {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 300px;
  height: 200px;
  background-color: #5076B0;
  border-radius: 5px;
  margin: auto;;
}

.button {
  position: absolute;
  top: 50px;
  left: 50px;
  text-decoration: none;
  padding: 15px 30px;
  background-color: white;
  color: #5076B0;
  border-radius: 3px;
  font-size: 22px;
  box-shadow: 0 5px rgba(0, 0, 0, .2);
  transition: transform .2s;

}

.button:hover {
  box-shadow: none;
  /* padding: 14px 29px;
  font-size: 21px; */
  transform: scale(.93);
}
